body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
input[type=text]{
  height: 60px;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 2.5%;
  border:1px none white;
  border-radius: 10px;
  font-size:20px;
}
input::placeholder {
  color: lightgray;
  padding-left: 10px;
  font-size: 20px;
}
.todos-list{
  width: 50%;
  margin: 0 23% 0 23.1%;
  position: relative;
}
input[type=checkbox]{
  left: 10px;
}

input[type=checkbox],
.delete-button{
  position: absolute;
}
.delete-button{
  text-decoration: none;
  color: black;
  right: 10px;
}
.todos-list strong{
  margin-left: 20px;
}
.todo-item{
  border: 2px;
  margin: 5px 0;
  border-radius: 10px;
  background-color:white;
  padding:12px;
}
.submit-button{
  height: 44px;
  margin-top: 30px;
  margin-left: 20px;
  color: white;
  background-color: green;
  border:1px none white;
  border-radius: 5px;
  font-size:30px;
}

.done-todo{
  text-decoration: line-through;
}